/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font, Arial), sans-serif;
  font-variation-settings: "wght" var(--header-font-weight, 400);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
}

.container {
  margin-inline: auto;
  inline-size: var(--card-size);
}

.header {
  padding-block: 100px;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: solid 2px #000;
  background-color: #fff;
  padding: var(--header-margin-top-bottom) var(--header-margin-left-right);
}

.header__logo {
  font-family: var(--font-accent, Copperplate), fantasy;
  font-size: var(--logo-size);
  text-transform: uppercase;
  font-weight: var(--header-font-weight);
}

.header__title {
  font-family: var(--font-accent, Copperplate), fantasy;
  font-size: var(--logo-title-size);
  text-transform: uppercase;
  font-weight: var(--header-font-weight);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: solid 2px #000;
  background-color: #fff;
}

.card__title {
  font-variation-settings: "wght" var(--card-title-font-weight);
  font-size: var(--main-font-size);
  padding: 4px 10px;
}

.card__image-wrapper {
  position: relative;
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}

.card__image {
  display: block;
  inline-size: 100%;
  max-height: clamp(23.188rem, 30.516vw + 16.035rem, 43.5rem);
  object-fit: cover;
  object-position: center;
}

.card__image-watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-accent, Copperplate), fantasy;
  font-weight: var(--watermark-font-weight);
  font-size: var(--watermark-font-size);
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 1px 1px 0 var(--watermark-stroke-color),
    -1px -1px 0 var(--watermark-stroke-color),
    1px -1px 0 var(--watermark-stroke-color),
    -1px 1px 0 var(--watermark-stroke-color);
}

@supports (-webkit-text-stroke: 1px var(--watermark-stroke-color)) or (text-stroke: 1px var(--watermark-stroke-color)) {
  .image-watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--watermark-stroke-color);
    text-stroke: 1px var(--watermark-stroke-color);
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  gap: 25px;
  padding: 25px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  line-height: 1.16667;
  font-size: var(--main-font-size);
}

.card__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.card__icon-button {
  height: 38px;
  width: 38px;
  padding-inline: 0px;
  border: solid 2px transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s ease;
}

.card__like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 38px;
}

.card__like-button:focus-visible {
  outline: none;
  border-color: #000;
}

.button {
  font-family: var(--font-accent, Copperplate), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 0.9;
  color: #000;
  background-color: #fff;
  height: 38px;
  transition: box-shadow 0.3s ease;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.floppy {
  inline-size: 21px;
  color: var(--blend-color);
  mix-blend-mode: difference;
}

.modal__container .floppy {
  min-width: 39px;
  min-height: 39px;
}

.save-controls {
  display: flex;
  justify-content: center;
  padding-block-start: 50px;
  padding-block-end: 100px;
}

.save-button {
  width: 335px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  gap: 8px;
}

.modal[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  inline-size: clamp(21.313rem, 1.127vw + 21.048rem, 22.063rem);
  padding: 30px;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal__container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.modal__text {
  font-family: var(--font-accent, Copperplate), fantasy;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}

.modal__button {
  text-transform: uppercase;
  padding: 12.5px 0;
}

@media (width <=375px) {
  .main {
    gap: 48px;
  }

  .save-button {
    width: 306px;
    height: 84px;
    flex-direction: column;
  }

  .modal[open] {
    padding: 30px 37px;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }
}

.filter-contrast {
  filter: contrast(120%);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-brightness {
  filter: brightness(50%);
}

.filter-sepia {
  filter: sepia(60%);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.filter-invert {
  filter: invert(75%);
}

.filter-grayscale {
  filter: grayscale(50%);
}

.filter-complex {
  filter: contrast(110%) brightness(120%) hue-rotate(30deg) hue-rotate (30deg);
}

.card__icon-button:focus {
  outline: none;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 #000;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  color: var(--blend-color);
  mix-blend-mode: difference;
}

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon {
  cursor: pointer;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: scale-heart 0.3s ease-in 0.1s 1 normal;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s 1 normal;
}
